<div class="row content-wrapper" style=""> 
  <div class="col-md-12">
      <div class="row" style="margin-bottom: 10px; ">
        <!-- <div class="col-md-6 md">
          <input type="text" #key (keyup.enter)="seachName(key.value)" [(ngModel)]="keySearch" name="keySearch" placeholder="Enter name" class="form-control">
          
        </div> -->
        <!-- <div class="col-md-6 md" >
          <button class="btn-search" (click)="seachName(key.value)" >SEARCH</button>
          
          <button  [routerLink]="['/user/add']"  class="btn-add" >ADD</button>
          <button [ngClass]="'delete'"  class="btn-search btn-delete "  (click)="deleteAll()" >DELETE</button>
        </div> -->
          <section class="row  content-header">
            <div class="col-md-2">
              <strong >
                User
                <!-- <small><button data-toggle="collapse" data-target="#data" > Control panel</button></small> -->
                <small >Control panel</small>
              </strong>
            </div>
            <div class="col-md-4">
              <div class="input-group">
                  <input type="text" (keyup.enter)="seachName()" [(ngModel)]="keySearch" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button (click)="seachName()" type="submit" name="search" id="search-btn" class="btn btn-flat">
                      <i class="fa fa-search"></i>
                    </button>
                  </span>
              </div>
            </div>
            <ol class="col-md-6 ">
      
              <!-- breadcrumb <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
              <li class="active">Dashboard</li> [routerLink]="['/user/add']" -->
      
              <button (click)="activeAdd()" data-toggle="modal" data-target="#addModal"  class="btn btn-primary" ><i class="	fa fa-plus"></i> ADD</button>
              <button *ngIf="allIdChecked.length > 0" [ngClass]="'delete'"  class="btn btn-danger btn-delete "  (click)="deleteAll()" > <i class="	fa fa-times"></i> DELETE</button>
              
            </ol>
            <!-- <div class="col-md-3">
              <p style="height: 34px;margin: 0; line-height: 34px;padding: 0;" class="col-md-4">
                  
              </p>
              <div class="col-md-8 pdLeft">
                <pager
                  [totalItems]="users.length"
                  (pageChanged)="pageChanged($event)"
                  pageBtnClass="btn"
                  [itemsPerPage]="10"
                  previousText="&lsaquo;" 
                  nextText="&rsaquo;" 
                  class="pull-left">
                </pager>
              </div>  
            </div> -->
          </section>
      </div>
      <div style="overflow-x:auto;"> 
        <table style="width: 100%;" class="table table-striped table-hover dataTable">
            <thead>
              
                <th style="width: 10px;">
                  <!-- <input id="checkall" type="checkbox" name="delete" (change)="getCheckAll($event);"> -->
                </th>
                <th [class.active]="order === 'name_user'"
                (click)="setOrder('name_user')">
                  Name 
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>
                </th>
                <th [class.active]="order === 'email'"
                (click)="setOrder('email')" >
                  Email   
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>   
                </th>
                <th [class.active]="order === 'id_role'"
                (click)="setOrder('id_role')">
                  Role
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>   
                </th>
    
                <th [class.active]="order === 'id_company'"
                (click)="setOrder('id_company')" >
                  Company
                  <span [hidden]="reverse">▼</span>
                  <span [hidden]="!reverse">▲</span>       
                </th>
                
                <!-- <th style="width: 12%;"> 
                    
                </th> -->
              
            </thead>
            <tr class="user"  *ngFor="let user of returnedArray | orderBy: order:reverse:'case-insensitive' "  >
              
              <td>
                <!-- <input type="checkbox" class="checkbox" (change)="getIdChecked($event,user._id);" id="{{user._id}}"> -->
                <div class="checkbox checkbox-primary">
                  <input id="{{user._id}}"  type="checkbox" value="group._id" (change)="getIdChecked($event, user._id)" >
                  <label for="{{user._id}}"></label>
                </div>
              </td>
    
              <td tooltip="Edit" style="cursor: pointer;" (click)="getUpdateUser(user)" data-toggle="modal" data-target="#myModal" id="{{user._id}}"  >
               {{user.name_user}}
               
               <i class="fa fa-lg fa-edit edit"></i>
              </td>
    
              <td>
                {{user.email}}
              </td>
    
              <td >
                <div *ngFor="let role of items2">
                  <span *ngIf="( role.id == user.id_role )">
                    {{ role.text }}
                  </span>   
                </div>
              </td>
    
              <td >
                <div *ngFor="let company of companies">
                  <span *ngIf="( company._id == user.id_company )">
                    {{company.name_company}} 
                  </span>
                </div>
              </td>
              
              <!-- <td>
                <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-lg fa-edit"></i>
                </button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-danger"  >
                  <i class="fa fa-lg fa-times"></i>
                </button>
              </td> {{page}}/{{smallnumPages}} Total {{users.length}} -->
            </tr>
        </table>
      </div>
      <div *ngIf="users.length > 10" class="col-md-12 pdLeft"> 
        <span style="height: 79px;line-height: 79px;padding-right: 0;padding-left: 0" class="col-md-1">
          {{page}}/{{smallnumPages}} Total {{users.length}}
        </span>
        <div class="col-md-11">
          <pagination (numPages)="smallnumPages = $event"  previousText="&lsaquo;" nextText="&rsaquo;" [totalItems]="users.length" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
      
      
      <!-- Modal *ngIf="users.length > 10" (numPages)="smallnumPages = $event" -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <form (ngSubmit)="update()">
            <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-tooltip">Update User</h4>
              </div>
              <div class="row modal-body">
                
                  <div class="col-md-12 md gw-left">  
                    
                    <input tooltip="Username" class="form-control" type="text" [(ngModel)]="updateUser.name_user"  name="name_user" placeholder="User Name">
                    <input tooltip="Email" class="form-control" type="email" [(ngModel)]="updateUser.email" name="email"  placeholder="Email">
                    <input tooltip="Password"  autocomplete="off" class="form-control" type="password" [(ngModel)]="password" name="password" placeholder="Password">
                 
                    <ng-select tooltip="Company" #company 
                      [items]="items"
                      [allowClear]="true"
                      (data)="refreshValue($event)"
                      (selected)="selected($event)"
                      (removed)="removed($event)"
                      (typed)="typed($event)"
                      placeholder="No Company Selected">
                    </ng-select>
                    
                    <ng-select tooltip="Role" #role 
                      [items]="items2"
                      [allowClear]="true"
                      (data)="refreshValue($event)"
                      (selected)="selected2($event)"
                      (removed)="removed($event)"
                      (typed)="typed($event)"
                      placeholder="No Role Selected">
                    </ng-select>

                  </div>
                  
                
              </div>
              <div class="modal-footer">
                <button type="button" id="update" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"  type="submit" value=" ">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>


      <!--ADD Modal -->
      <div *ngIf="checkAdd == true" id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <form (ngSubmit)="add()">
          <!-- Modal content -->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-tooltip">ADD USER</h4>
              </div>
              <div class="row modal-body">
                <div class="col-md-12 md gw-left">  
                  <!-- <input class="form-control" type="number" [(ngModel)]="company._id" name="id" id="_id" placeholder="ID" readonly value="{{updateUser._id}}"> -->
                  <input tooltip="Username" class="form-control" type="text" [(ngModel)]="user.name_user"  name="name_user" placeholder="User Name">
                  <input tooltip="Email" class="form-control" type="email" [(ngModel)]="user.email" name="email"  placeholder="Email">
                  <input tooltip="Password"  autocomplete="off" class="form-control" type="password" [(ngModel)]="user.password" name="password" placeholder="Password">
                  <!-- <input class="form-control" type="password" [(ngModel)]="user.id_role" name="password" id="password" placeholder="Password">
                  <input class="form-control" type="password" [(ngModel)]="user.id_company" name="password" id="password" placeholder="Password"> -->
                  <ng-select tooltip="Company" #company 
                    [items]="items"
                    [allowClear]="true"
                    (data)="refreshValue($event)"
                    (selected)="selected($event)"
                    (removed)="removed($event)"
                    (typed)="typed($event)"
                    placeholder="No Company Selected">
                  </ng-select>
                  <ng-select tooltip="Role" #role 
                    [allowClear]="true"
                    [items]="items2"
                    (data)="refreshValue($event)"
                    (selected)="selected2($event)"
                    (removed)="removed($event)"
                    (typed)="typed($event)"
                    placeholder="No Role Selected">
                  </ng-select>
                  <!-- <select>
                    <option value="1">Supper Admin</option>
                    <option value="2">Admin</option>
                    <option value="3">User</option>
                  </select> -->
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" id="add" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"  type="submit" value=" ">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>