<div class="row content-wrapper">
  <div class="col-md-12">

      <section _ngcontent-c8="" class="row  content-header">
        <div _ngcontent-c8="" class="col-md-2">
          <strong _ngcontent-c8=""> NODE <small _ngcontent-c8=""></small>
          </strong>
        </div>
        
      </section>

    <form (ngSubmit)="save();" >
      <div class="col-md-6 md gw-left">  
      
        <!-- <input class="form-control" type="number" [(ngModel)]="node._id" name="id" placeholder="ID NODE"> -->
        <input class="form-control" type="text" [(ngModel)]="node.name_node" name="name_node"  placeholder="NAME NODE">
        <!-- <input class="form-control" type="text" [(ngModel)]="node.status" name="status" placeholder="STATUS"> -->
        <!-- <select class="form-control"  [(ngModel)]="node.status" name="status" id="status" >
          <option value="true">Active</option>
          <option value="false">Not Active</option>
        </select> -->

        <!-- <ng-select title="" #status  style="width: 100%;"
          [allowClear]="true"
          [items]="arrStatus"
          (data)="refreshValue($event)"
          (selected)="selectedStatus($event)"
          (removed)="removed($event)"
          (typed)="typed($event)"
          placeholder="NO STATUS SELECTED">
        </ng-select>   -->

        <input class="form-control" type="text" [(ngModel)]="node.Manufacture" name="Manufacture" placeholder="MANUFACTURE">
        <!-- <input class="form-control" type="text" > -->
        <textarea style="margin-bottom: 5px;" class="form-control" [(ngModel)]="node.Codec" name="Codec" placeholder="CODEC" rows="5">

        </textarea>
        <input class="form-control" type="text" [(ngModel)]="node.OS" name="OS" placeholder="OS">
        
      </div>
      <div class="col-md-6 ">  
        <div class="row action">
          
          <!-- <button class="btn-add">ADD</button> -->
          <!-- <button class="btn-delete">DELETE</button> -->
        </div>
        <div class="row">
          <ng-select title="" #groups  style="width: 100%;"
            [allowClear]="true"
            [items]="items"
            (data)="refreshValue($event)"
            (selected)="selectedGroup($event)"
            (removed)="removed($event)"
            (typed)="typed($event)"
            placeholder="NO GROUP SELECTED">
          </ng-select>  
          
          <input class="form-control" type="text" [(ngModel)]="node.dev_eui" name="dev_eui" placeholder="DEVEUI">
          <input class="form-control" type="text" [(ngModel)]="node.app_eui" name="app_eui" placeholder="APPEUI">
          <input class="form-control" type="text" [(ngModel)]="node.app_key" name="app_key" placeholder="APPKEY">
          <input class="form-control" type="text" [(ngModel)]="node.latitude" name="latitude" placeholder="LATITUDE">
          <input class="form-control" type="text" [(ngModel)]="node.longitude" name="longitude" placeholder="LONGITUDE">
          
          <!-- <input class="form-control" type="text" [(ngModel)]="node.Profile" name="Profile" placeholder="PROFILE"> -->
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-warning" [routerLink]="['/node']" >LIST NODE</button>
        <button class="btn btn-primary " type="submit" value=" ">ADD NODE</button>
      </div>
    </form>
  </div>
</div>