<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">
      
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu tree" data-widget="tree">
        
        <!-- <li class="active treeview menu-open">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="pages/layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="pages/layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li >
            <a href="#">
                <i class="fa fa-th"></i> <span>Widgets</span>
                <span class="pull-right-container">
                <small class="label pull-right bg-green">new</small>
                </span>
            </a>
        </li> -->
        <li class="treeview">  
          <a [routerLink]="['/gw']" [routerLinkActive]="['router-link-active']"  id="home-category">
              <i class="fa fa-fw fa-home"></i>&nbsp;<span>GW</span>
          </a>
        </li>
        <li class="treeview">
          <a  [routerLink]="['/node']" [routerLinkActive]="['router-link-active']"  id="capteur-category">
              <i class="fa fa-fw fa-cube"></i>&nbsp;<span>NODE</span>
          </a>
        </li>
        <li class="treeview">
          <a  [routerLink]="['/group']" [routerLinkActive]="['router-link-active']"  id="storage-category">
              <i class="fa fa-fw fa-database"></i>&nbsp;<span>GROUP</span>
          </a>
        </li>

        <!-- <a  [routerLink]="['/gw-node']" [routerLinkActive]="['router-link-active']"  id="gw-category">
            <i class="fa fa-fw fa-bars"></i>&nbsp;GW NODE
        </a> -->
        <li class="treeview" *ngIf="role == 1" >
          
              
          <a   style="margin-top: 50px;"  [routerLink]="['/admin']" [routerLinkActive]="['router-link-active']"  id="client-category">
              <i class="fa fa-fw fa-cogs"></i>&nbsp;<span>ADMIN </span>
              
          </a>
        </li>
        <li class="treeview" *ngIf="role == 1" >  
          <a  [routerLink]="['/user']" [routerLinkActive]="['router-link-active']"  id="client-category">
              <i class="fa fa-fw fa-user"></i>&nbsp;<span>USER</span>
              
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>