<div class="row content-wrapper">
  <div class="col-md-12">
    <section  class="row  content-header">
      <div  class="col-md-2">
        <strong > GROUP <small ></small>
        </strong>
      </div>
      
    </section>
    <form #groupForm (ngSubmit)="save();">
      <div class="col-md-6 md gw-left">  
        <!-- <input class="form-control"  type="number" [(ngModel)]="group._id" name="_id" id="_id" placeholder="Id"> -->
        <input class="form-control" type="text" [(ngModel)]="group.group_name" name="group_name"  id="group_name" placeholder="Group Name">

        <ng-select  #company 
          [allowClear]="true"
          [items]="items"
          (data)="refreshValue($event)"
          (selected)="selected($event)"
          (removed)="removed($event)"
          (typed)="typed($event)"
          placeholder="No Name Company Selected">
          
        </ng-select>

      </div>
      <div class="col-md-6 md gw-right">  
        <div class="row action">
          
          <!-- <button class="btn-add" >ADD</button> -->
          <!-- <button class="btn-delete">DELETE</button> -->
          
        </div>
      </div>
      <div class="col-md-12">
        <button style="text-decoration: none" class="btn btn-warning" [routerLink]="['/group']" >LIST GROUP</button>
        <button class="btn btn-primary" type="submit" value=" ">ADD GROUP</button>
      </div>
    </form>

    
  </div>
</div> 